<!DOCTYPE html>
<html>
<head>
    <title>Editor</title>
    <link rel='stylesheet' href='/css/editor.css'/>
</head>
<body>



<div class="container" data-ng-controller="StructureCtrl">



    <div class="row-fluid">

        <div class="span6">

            <img data-ng-src='{{structure.general.image}}'/>

            <h1 data-ng-bind="structure.general.name"></h1>

            <h3 data-ng-bind="structure.general.title"></h3>

            <div data-ng-controller="GeneralStructureCtrl">
                <!--<h3>Available Widgets</h3>-->
                <!--<p>Drag widgets from here to the editor on the right to activate them</p>-->
                <!--<div data-pallet=""></div>-->

                <fieldset>



                    <legend>
                        <div style='float: right'>
                            <a href='javascript:void(0)' data-ng-show="generalMode != 'edit'"
                               data-ng-click="toggleGeneralEditMode()" onclick='return false' title='Edit'><i
                                    class="icon-pencil"></i></a>
                        </div>
                        General
                    </legend>

                    <div ng-switch on="generalMode">
                        <div ng-switch-when="edit">

                            <form name="myForm" class="form-inline">


                                <div class="control-group">
                                    <label class="control-label">Name</label>

                                    <div class="controls">
                                        <input type="text"
                                               data-ng-model="editGeneral.name"
                                               data-ng-required="true"
                                               class="input-xlarge"
                                                />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Title</label>

                                    <div class="controls">
                                        <input type="text"
                                               data-ng-model="editGeneral.title"
                                               class="input-xlarge"
                                               placeholder="ex: Senior Software Engineer..."
                                                />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Email</label>

                                    <div class="controls">
                                        <input type="text"
                                               data-ng-model="editGeneral.email"
                                               class="input-xlarge"
                                               placeholder="ex: joe@gmail.com"
                                                />
                                    </div>
                                </div>


                                <button type='submit' data-ng-click="saveGeneral()"
                                        data-ng-disabled="myForm.$invalid || isCleanGeneral()" class="btn btn-primary">
                                    Save changes
                                </button>
                                <button class="btn" data-ng-click="revertGeneral()">Cancel</button>
                            </form>

                        </div>

                        <div ng-switch-default>
                            <div data-ng-bind="structure.general.name"></div>
                            <div data-ng-bind="structure.general.title"></div>
                            <div data-ng-bind="structure.general.email"></div>
                        </div>

                    </div>

                </fieldset>


            </div>
        </div>

        <div class="span6">
            <div class="row-fluid">


                <fieldset>
                    <legend>Groups (<span data-ng-bind="structure.widgets.length">0</span>)</legend>

                    <div data-editor=""></div>
                </fieldset>


            </div>
        </div>
    </div>


</div>


<script src="/js/lib/jquery-1.9.1.js"></script>

<!-- Sortable/draggable -->
<script src="/js/lib/jquery-ui-1.10.2.custom.js"></script>


<script src="/js/lib/angular.js"></script>

<script src="/js/lib/bootstrap.js"></script>
<script src="js/lib/advanced.js"></script>
<script src="js/lib/wysihtml5-0.3.0_rc2.js"></script>
<script src="js/lib/bootstrap-wysihtml5-0.0.2.js"></script>
<script src="/js/editor.js"></script>


</body>
</html>